/*
#########################################################
IMPRESS.JS CUSTOM STYLES
#########################################################
*/

strong {
	font-weight: 700;
}

/* ### LINKS ###### */

body a {
	font-weight: normal;
}

/* ### IMAGES ###### */

/* changed from normalize-4.1.1.css: margin: 1em 40px; */

figure {
	margin: 0;
}

/* ### LINKS ###### */

.red a {
	font-weight: 300;
	color: #C00000;
	font-style: italic;
}

/* ### LISTS ###### */


ul li {
	line-height: 1.3em;
}

/* instead of margin-left: 1em; */

ul li:before {
	margin-left: -0.5em;
}

dl {
	float: left;
	width: 100%;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	line-height:1.5em;
}

dl + * {
	clear: both;
}

dt {
	float: left;
	clear: left;
	width: 30%;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	color: #C00000;
	font-weight:600;
}

dd {
	float: left;
	width: 70%;
	margin-left: 0;
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

dd + dt {
	margin-top: 0;
}

.width-10-90 dt {
	width: 10%;
}

.width-10-90 dd {
	width: 90%;
}

/* Individual slides */

#step-1 h1 {
	font-size: 72px;
}

#step-1 h2 {
	font-size: 48px;
}